.button{
    width: fit-content;
    padding:10px 20px;
    background-color: rgb(224, 189, 34) ;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    transition: all ease 0.3s;

}
.button:active{
    transform: scale(.9);
}
.button:hover{
    background-color: rgb(192, 159, 13) ;
    
}