.link:visited{
    color:rgba(42, 114, 207, 0.966);
}
.link{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
   
  }
.items{
    display: flex;
    list-style: none;
    gap:20px;
    font-weight: 700;
    color:rgba(42, 114, 207, 0.966);
    align-items: center;
}
.item{
    cursor:pointer;
}
.title{
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}
.dot{
    width:12px;
    height:12px;
    background-color:rgba(42, 114, 207, 0.966);
    border-radius: 50%;
    margin-bottom:5px;
    margin-left:3px;
}

@media screen and (max-width:500px) {
    .title,.item{font-size:16px}
    .dot{
        width:7px;
        height:7px;
    }
}
.logout{
    cursor:pointer
}